
<p id="notice"></p>
<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-12">
            <!--<div class="row">-->
            <!--    <div class="col-md-10 offset-md-2">-->
                    <h4 class="bg-secondary text-dark d-inline-block">商品新規登録</h4>
                <!--</div>-->
            <!--</div>-->
            <%= form_with model: @item, url:admin_items_path do |f| %>
                <div class="row">
                    <div class="col-3 pb-3">
                        <label>商品画像</label>
                    </div>
                    <div class="col-9 pb-3">
                    <%= f.file_field :merch_image, accept: "image/*" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 pb-3">
                        <label>商品名</label>
                    </div>
                    <div class="col-9 pb-3">
                        <%= f.text_field :name %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 pb-3">
                        <label>商品説明</label>
                    </div>
                    <div class="col-9 pb-3">
                        <%= f.text_area :introduction %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 pb-3">
                        <label>ジャンル</label>
                    </div>
                    <div class="col-9 pb-3">
                        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 pb-3">
                        <label>税抜き価格</label>
                    </div>
                    <div class="col-9 pb-3">
                        <%= f.text_field :price %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 pb-3">
                        <label>販売ステータス</label>
                    </div>
                    <div class="col-9 pb-3">
                        <%= f.radio_button :is_active, "true" %>
                        <%= f.label :is_active, "販売中" %>

                        <%= f.radio_button :is_active, "false" %>
                        <%= f.label :is_active, "販売停止" %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9 offset-md-3">
                        <%= f.submit '新規登録', class: "btn btn-success" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

