<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <h1>LOGO</h1>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li>ようこそ、<%=current_customer.last_name %>さん!</li>
            <li class="nav-item"><%= link_to "マイページ", customers_my_page_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "カート", cart_items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "About", homes_about_path, class: "btn btn-sm btn-outline-secondary " %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <div class="border border-dark">
            <p class="border-bottom border-dark">ジャンル検索</p>
            <div>
              <% @genres.each do |genre| %>
                <%= link_to  items_path(genre: genre.id) do %>
                  <%= genre.name %></br>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <p class="border border-dark pt-4 pb-4">
            ようこそ、ながのCAKEへ!</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要となります。</br>
          </p>
        </div>
        <div class="col-md-4">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-9">
            <h1>新着商品</h1>
            <div class="d-flex flex-wrap">
            <% @items.each do |item| %>
              <div>
                <%= image_tag item.get_merch_image(200, 200, "Center") %></br>
                <%= item.name %></br>
                <%= item.price %>
              </div>
            <% end %>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-7 offset-md-5">
      <%= paginate @items %>
    </div>
  </div>
</div>
