
<h4>会員一覧</h4>

<% @customers.each do |customer| %>
  <!--会員ID-->
  <p>会員ID</p>
  <%= customer.id %>
  <!--商品名-->
  <p>氏名</p>
  <%= link_to  admin_customer_path(customer.id) do %>
    <%= customer.last_name %>
    <%= customer.first_name %></br>
  <% end %>

  <!--メールアドレス-->
  <p>メールアドレス</p>
  <%= customer.email %>
  <!--ステータス-->
  <p>ステータス</p>
  <% if customer.is_deleted == false %>
    有効
  <% else %>
    退会
  <% end %>
<% end %>
