<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<%= @customer.last_name %>
<%= @customer.first_name %>さんの会員情報

<p>会員ID</p>
<%= @customer.id %>

<p>氏名</p>
<%= @customer.last_name %>
<%= @customer.first_name %>

<p>フリガナ</p>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>

<p>郵便番号</p>
<%= @customer.postal_code %>

<p>住所</p>
<%= @customer.address %>

<p>電話番号</p>
<%= @customer.telephone_number %>

<p>メールアドレス</p>
<%= @customer.email %>

<p>会員ステータス</p>
<% if @customer.is_deleted %>
  有効
<% else %>
  退会
<% end %>

<!--編集ボタン-->
<%= link_to '編集する', edit_admin_customer_path(@customer.id) %>

<!--注文一覧を見るボタン-->
<%#= link_to '編集する', edit_admin_item_path(@customer.id) %>
