<h1>Admin::Orders#show</h1>
<p>Find me in app/views/admin/orders/show.html.erb</p>

<h4>注文履歴詳細</h4>

<p>購入者</p>
<%= @order.customer.last_name %>
<%= @order.customer.first_name %>

<p>注文日</p>
<%= @order.created_at.strftime('%Y/%m/%d') %>

<p>配送先</p>
<%= @order.postal_code %>
<%= @order.address %>
<%= @order.name %>

<p>支払い方法</p>

<p>注文ステータス</p>

<!--***************order_detailコントローラでデータのやり取り*******************-->
<p>商品名</p>
<%= order.order_detail.item.name %>
<p>単価(税込)</p>
<%= order.order_detail.price %>
<p>数量</p>
<%= order.order_detail.amount %>
<p>小計</p>

<p>作成ステータス</p>

<!--**********************************-->
<p>商品合計</p>

<p>送料</p>

<p>請求額合計</p>
