
<h4>注文履歴詳細</h4>

<p>購入者</p>
<%= @order.customer.last_name %>
<%= @order.customer.first_name %>

<p>注文日</p>
<%= @order.created_at.strftime('%Y/%m/%d') %>

<p>配送先</p>
<%= @order.postal_code %>
<%= @order.address %>
<%= @order.name %>

<p>支払い方法</p>
<%= form_with model: @order do |f| %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= @order.payment_method_i18n %>
<% end %>

<p>注文ステータス</p>
<%#= Order.statuses_i18n[@order.status] %>
<%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
  <%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %></br>
  <%= f.submit '更新', class: "btn btn-success" %></br>
<% end %>


<label>商品名</label>
<label>単価(税込)</label>
<label>数量</label>
<label>小計</label>
<label>作製ステータス</label>

<% @order_subtotal = 0 %>
<% @order.order_details.each do |order_detail| %>
  <!--商品名-->
  <%= order_detail.item.name %>
  <!--単価(税込)-->
  <%= order_detail.price %>
  <!--数量-->
  <%= order_detail.amount %></br>
  <!--小計-->

  <% @order_subtotal += order_detail.price*order_detail.amount %>
  <!--作製ステータス-->
  <%= form_with model: order_detail, url: admin_order_order_detail_path(@order.id, order_detail.id) do |f| %>
    <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
    <%= f.submit '更新', class: "btn btn-success" %>
  <% end %>
<% end %>

<p>商品合計</p>

<%= @order_subtotal %></br>

<p>送料</p>
<%= @order.postage %>

<p>請求額合計</p>
<%# @order.billing_amount = @order.postage + @cart_subtotal.to_i %>
<% @order.billing_amount = @order.postage + @order_subtotal %>
<%= @order.billing_amount %>
<%#= f.hidden_field :billing_amount, :value => @order.billing_amount %>



