<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <h1>LOGO</h1>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li>ようこそ、<%=current_customer.last_name %>さん!</li>
            <li class="nav-item"><%= link_to "マイページ", customers_my_page_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "カート", cart_items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h4>配送先編集</h4>
        </div>
      </div>

      <%= form_with model: @address, url:address_path, method: :patch do |f| %>
        <div class="row">
          <div class="col-md-3">
            <label>郵便番号(ハイフンなし)</label>
          </div>
          <div class="col-md-9">
            <%= f.text_field :postal_code %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>住所</label>
          </div>
          <div class="col-md-9">
            <%= f.text_field :address %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>宛名</label>
          </div>
          <div class="col-md-4">
            <%= f.text_field :name %>
          </div>
          <div class="col-md-5">
            <%= f.submit '変更内容を保存', class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




