<h4>注文情報の確認</h4>

<% current_customer.cart_items.each do |cart_item| %>
  <%= cart_item.item.name %>
  <%= cart_item.item.with_tax_price %>
  <%= cart_item.amount %>
  <%= cart_item.subtotal %>
<% end %>

<label>送料</label></br>
<%= @order.postage %></br>

 <% @cart_subtotal =0 %>
<!--カート商品の小計処理をする-->
<%# @cart_items.each do |cart_items| %>
  <%# @cart_subtotal += cart_items.subtotal %>
<%# end %>
<% current_customer.cart_items.each do |cart_items| %>
  <% @cart_subtotal += cart_items.subtotal %>
<% end %>

<!--請求金額の処理-->
<% @order.billing_amount = @order.postage + @cart_subtotal %>

<label>商品合計</label></br>
<%= @cart_subtotal %></br>
<label>請求金額</label></br>
<%= @order.billing_amount %>

<%= form_with model: @order do |f| %>
  <h4>支払い方法</h4>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= @order.payment_method_i18n %>

    <%#= f.label :payment_method_credit_card, "クレジットカード" %>

    <%#= f.radio_button :payment_method, "transfer" %>
    <%#= f.label :payment_method_transfer, "銀行振込" %>


  <h4>お届け先</h4>
  <%= f.hidden_field :postal_code, :value => @order.postal_code %>
  <%= @order.postal_code %>
  <%= f.hidden_field :address, :value => @order.address %>
  <%= @order.address %>
  <%= f.hidden_field :name, :value => @order.name %>
  <%= @order.name %>
  <%= f.hidden_field :billing_amount, :value => @order.billing_amount %>
  <%= f.hidden_field :postage, :value => @order.postage %>

  <%= f.submit '注文を確定する', class: "btn btn-success" %>
<% end %>
