
<h4>注文履歴一覧</h4>

<label>注文日</label></br>
<label>配送先</label></br>
<label>注文商品</label></br>
<label>支払金額</label></br>
<label>ステータス</label></br>
<label>注文詳細</label></br>


<% @orders.each do |order| %>
  <%= order.created_at %></br>
  <%= order.address %></br>
  <%= '注文商品' %></br>
  <%= order.billing_amount %></br>
  <%= 'ステータス' %></br>
  <%= link_to "買い物を続ける", order_path(order.id), class: "btn btn-primary" %>
<% end %>
