<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <h1>LOGO</h1>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li>ようこそ、<%=current_customer.last_name %>さん!</li>
            <li class="nav-item"><%= link_to "マイページ", customers_my_page_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "カート", cart_items_path, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
            <li class="nav-item"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary ml-3" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 pb-2">
          <h4>注文履歴一覧</h4>
        </div>
      </div>
      <table class="table mb-0 border border-dark">
        <thead class="table-secondary">
          <tr>
            <th class="border-right border-dark">注文日</th>
            <th class="border-right border-dark">配送先</th>
            <th class="border-right border-dark">注文商品</th>
            <th class="border-right border-dark">支払金額</th>
            <th class="border-right border-dark">ステータス</th>
            <th class="border-right border-dark">注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% current_customer.orders.each do |order| %>
          <tr>
            <td class="border-right border-dark"><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td class="border-right border-dark"><%= order.address %></td>
            <td class="border-right border-dark">
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %></br>
            <% end %>
            </td>
            <td class="border-right border-dark"><%= order.billing_amount %></td>
            <td class="border-right border-dark"><%= Order.statuses_i18n[order.status] %></td>
            <td class="border-right border-dark"><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

