
<h4>注文履歴一覧</h4>

<label>注文日</label></br>
<label>配送先</label></br>
<label>注文商品</label></br>
<label>支払金額</label></br>
<label>ステータス</label></br>
<label>注文詳細</label></br>


<% @orders.each do |order| %>
  <%= order.created_at %></br>
  <%= order.address %></br>

  <% order.order_details.each do |order_detail| %>
    <%= order_detail.item.name %></br>
  <% end %>

  <%= order.billing_amount %></br>
  <%= Order.statuses_i18n[order.status] %>


  <%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></br>
<% end %>
