<p id="notice"></p>

<p>ジャンル検索</p>
<% @genres.each do |genre| %>
  <%= link_to  items_path(genre: genre.id) do %>
    <%= genre.name %></br>
  <% end %>
<% end %>

<%= image_tag @item.get_merch_image(400, 400) %>
<%= @item.name %>
<%= @item.introduction %>
<%= @item.with_tax_price%>(税込み)

<%= form_with(model: @cart_item,url: cart_items_path, method: :post)do |f| %>
  <%= f.select :amount, *[1..10] %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.submit "カートに入れる", class: "btn btn-success" %>
<% end %>
